[Unit]
Description=Frost session lock
PartOf=frost-session.target
Wants=frost-theme.service
After=graphical-session.target frost-theme.service

[Service]
Type=simple
ExecStart=/usr/bin/frost session-lock
