[Unit]
Description=Frost notification authority
PartOf=frost-session.target
Wants=frost-theme.service
After=graphical-session.target frost-theme.service
Conflicts=mako.service

[Service]
Type=simple
ExecStart=/usr/bin/frost session-notifications
Restart=on-failure
RestartSec=1
