[Unit]
Description=Frost notification authority
PartOf=frost-session.target
After=graphical-session.target
Conflicts=mako.service

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/mako --config /usr/share/frost/default/mako/config
Restart=on-failure
RestartSec=1
